%form{ :action => '/login', :method => "post" }
  .content
    %label{ :for => 'login' } Login
    %input{ :name => 'login', :id => 'login' }

  .content
    %label{ :for => 'password' } Password
    %input{ :type => 'password', :name => 'password', :id => 'password' }

  .content
    %input{ :type => 'submit', :value => 'Login' }