.content
  %label.two Grocery
  %input.three{ :name => "recipe[groceries][][name]", :id => "recipe[groceries][][name]", :value => grocery.name }
  %label.two Amount
  %input.one{ :name => "recipe[groceries][][amount]", :id => "recipe[groceries][][amount]", :value => grocery.amount }
  %label.one Unit
  %input.one{ :name => "recipe[groceries][][unit]", :id => "recipe[groceries][][unit]", :value => grocery.unit }