.content
  %input{ :name => "recipe[sections][][header]", :id => "recipe[sections][][header]", :value => section.header }
  %textarea{ :rows => 10, :name => "recipe[sections][][text]", :id => "recipe[sections][][text]" }= section.text
