.info
  %h2 Create your new recipe
 
%form{ :action => '/recipe/create', :enctype => 'multipart/form-data', :method => "post" }
  %div
    %label{ :for => 'recipe[name]' } Name
    %input{ :name => 'recipe[name]', :id => 'recipe[name]' }
 
  %div
    %label{ :for => 'recipe[instructions]' } Instuctions
    %textarea{ :rows => 20, :cols => 80, :name => 'recipe[instructions]', :id => 'recipe[instructions]' }
    
  %div
    %label{ :for => 'recipe[photo]' } Photos
    %input{ :name => 'recipe[photo]', :id => 'recipe[photo]', :type => 'file'  }

  %div
    %label{ :for => 'recipe[video]' } Viedos
    %input{ :name => 'recipe[video]', :id => 'recipe[video]', :type => 'file'  }
 
  %input{ :type => 'submit', :value => 'Save it!' }