.info
  %h2 Create your new recipe
 
%form{ :action => '/recipe/create', :method => "post" }
  %div
    %label{ :for => 'recipe[name]' } Name
    %input{ :name => 'recipe[name]', :id => 'recipe[name]' }
 
  %div
    %label{ :for => 'recipe[instructions]' } Instuctions
    %textarea{ :rows => 20, :cols => 80, :name => 'recipe[instructions]', :id => 'recipe[instructions]' }
 
  #to_be_announced photos, videos
 
  %input{ :type => 'submit', :value => 'Save it!' }