#info
  %h2== Hey #{@chef.name}

  %form{ :action => "/chef/update/#{@chef.id}", :method => "post" }

    = partial :'chef/form'
  
    .content
      %input{ :type => 'submit', :value => 'Update' }
  
  %a{ :href => "/chef/index" } Back to Chefs